
.gridStyle {
    border: 1px solid rgb(212,212,212);
    height: 300px;
    font-size: 12px;
}

.tooltip-inner {
    max-width: 700px;
    padding: 1px 2px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background-color: #ffffff;
    border-radius: 4px;
}
.rloverlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color:#000;
    opacity: .75;
    z-index: 1050;
    transition: background-color 1s ease-out;
}

.rllightbg {
    background-color: #f0f0f0;
    border: 1px solid rgb(212,212,212);
}
td {
    padding: 2px;
}

.rlBuy {
    color:#fff;
    border-radius:2px;
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
    background-color:#117;
}

.rlSell {
    color:#fff;
    border-radius:2px;
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
    background-color:#711;
}

.rlBuyBtn {
    border-radius:2px;
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
    border: 1px solid lightgray;
    background-color: rgba(0,0,255,0.2);
}

.rlSellBtn {
    border-radius:2px;
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
    border: 1px solid lightgray;
    background-color: rgba(255,0,0,0.2);
}

.rlBuyBtn:hover {
    color:#fff;
    background-color:#117;
}

.rlSellBtn:hover {
    color:#fff;
    background-color:#711;
}

.rlhover:hover {
    outline: 1px dotted #444;
    text-decoration: underline;
    /*border-radius: 3px;*/
    /*border: solid 1px #222;*/
    color: #22f;
    /*padding: 4px;*/
    /*background-color: #000;*/
}

.popover {
    max-width: 600px;
    width: auto;
}

.rlImgGrey {
    opacity: 0.3;
    filter: alpha(opacity=30); /* msie */
    background-color: #fff;
}

.rlImgGrey:hover {
    opacity: 0.9;
    filter: alpha(opacity=90); /* msie */
    background-color: #fff;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

.d3-tip text {
    fill: #fff;
    font-size: 12px;
    stroke: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

svg.monline {
    font: 10px sans-serif;
}

path.monline {
    stroke: #000;
    fill-opacity: .4;
}

.axis.monline path {
    fill: none;
    stroke: #000;
    stroke-opacity: .75;
    shape-rendering: crispEdges;
}

.axis.monline path.domain {
    stroke-opacity: .75;
}

.axis.monline line {
    fill: none;
    stroke: #000;
    stroke-opacity: .25;
    shape-rendering: crispEdges;
}

.axis.monline line.zero {
    stroke-opacity: .75;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.focus circle {
    fill: steelblue;
    stroke: steelblue;
}

.repeater.ng-enter,
.repeater.ng-move {
    -webkit-transition:0.3s linear all;
    transition:0.3s linear all;

    opacity:0;
    -webkit-transform:scale(1.15)!important;
    transform:scale(1.15)!important;
}
.repeater.ng-enter.ng-enter-active,
.repeater.ng-move.ng-move-active {
    opacity:1;
}
.repeater.ng-leave {
    -webkit-transition:0.3s linear all;
    transition:0.3s linear all;

    opacity:1;
}
.repeater.ng-leave.ng-leave-active {
    opacity:0;
}

