.gridStyle {
    border: 1px solid rgb(212,212,212);
    height: 300px;
}
.tooltip-inner {
    max-width: 700px;
    padding: 1px 2px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background-color: #ffffff;
    border-radius: 4px;
}
