
<!DOCTYPE html>
<html lang="en" ng-app="rl-admin">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Netty2Go TestClient</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <style>
        .tooltip-inner {
            max-width: 700px;
            padding: 1px 2px;
            color: #ffffff;
            text-align: center;
            text-decoration: none;
            background-color: #ffffff;
            border-radius: 4px;
        }

    </style>
</head>
<body ng-controller="RLAdmin">
<script src="js/minbin.js"></script>
<script src="js/model.js"></script>
<script src="js/reallive.js"></script>
<script src="js/trNgGrid.js"></script>
<script src="app.js"></script>
<br>

<div class="container">
    <div class="row">
        <h3>Test Server Settings</h3>
    </div>
    <br>
    <div class="row">
        <!--<div class="col-sm-offset-0 ">-->
            <div class="form-inline" role="form">
                <div class="form-group">
                    <label for="host">Host</label>
                    <div class="input-group">
                        <input ng-model="host" type="text" class="form-control" name="Host" id="host" placeholder="Host" required>
                        <!--<span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span>-->
                    </div>
                </div>
                <div class="form-group">
                    <label for="port">Port</label>
                    <div class="input-group">
                        <input ng-model="port" type="text" class="form-control" name="Port" id="port" placeholder="Port">
                        <!--<span class="input-group-addon info"><span class="glyphicon glyphicon-asterisk"></span></span>-->
                    </div>
                </div>
                <div class="form-group">
                    <label for="connect">&nbsp;</label>
                    <div class="input-group">
                        <button type="button" class="btn btn-primary" id="connect" ng-click="doConnect()" ng-disabled="socketConnected">Connect</button>
                    </div>
                </div>
            </div>
        <!--</div>-->
    </div>
    <br>
    <div class="row">
        <table class="table table-striped table-hover table-condensed">
            <thead><tr><th ng-repeat="column in visibleColumns(model.tables.SysTable.columns)">{{column.displayName}}</th></tr></thead>
            <tbody>
            <tr ng-repeat="table in systables.list">
                <td ng-repeat="column in visibleColumns(model.tables.SysTable.columns)">{{table[column.name]}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
    <div class="row">
        <table tr-ng-grid="" items="systables.list" enable-filtering="false">
            <thead>
            <tr>
                <!--<th field-name="key" enable-filtering="false" enable-sorting="true" cell-width="4em" display-align="right"></th>-->
                <th field-name="key" display-name="Hallo" ></th>
                <th field-name="version" enable-filtering="false" ></th>
                <th field-name="tableName" enable-filtering="false" ></th>
                <th field-name="description" enable-filtering="false"></th>
            </tr>
            </thead>
        </table>
    </div>
    <!--<div class="row">-->
        <!--<table tr-ng-grid="" items="systables.list" enable-filtering="false">-->
            <!--<thead>-->
            <!--<tr><th ng-repeat="column in visibleColumns(model.tables.SysTable.columns)" field-name="{{column.name}}"></th></tr>-->
            <!--</thead>-->
        <!--</table>-->
    <!--</div>-->
    <div class="row">
        <table tr-ng-grid="" items="systables.list" enable-filtering="false" fields="model.tables.SysTable.columnsNGTableConf">
        </table>
    </div>
</div>
<br>
<br>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>
