<div style="padding: 40px;">
<table width="100%">
    <tr>
        <td colspan="2"><span style="font-size: 1.3em;"><b>Log In</b></span></td>
    </tr>
    <tr>
        <td colspan="2" style="border-bottom: 1px solid darkgrey;"><br></td>
    </tr>
    <tr>
        <td colspan="2"><br></td>
    </tr>
    <tr>
        <td align="CENTER" style="width: 180px;"><img src="img/real_live_notext.png"><br><br><span style="font-size: 1.1em;" rl-hi><b>{{reallive}}</b></span></td>
        <td>
            <form ng-submit="doLogin()">
            <table style="width: 100%;" cellpadding="4px">
                <tr>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input ng-model="user" id="loginuser" type="text" class="form-control" name="Host" placeholder="UserId" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input ng-model="pwd" type="password" class="form-control" name="Password" placeholder="Password">
                    </td>
                </tr>
                <tr>
                    <td align="RIGHT">
                        <br>
                        <button type="submit" style="width: 80px;" class="btn btn-primary btn-default" id="login" ng-click="doLogin()">Login</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div rl-hi>{{msg}}</div>
                    </td>
                </tr>
            </table>
            </form>
        </td>
    </tr>
</table>
</div>