<table width="100%">
<tr>
    <td style="padding-top: 4px;font-size: 1.3em;"> <b>Position</b></td>
</tr>
<tr>
    <td colspan="2" width="100%" style="vertical-align:top; padding: 0px; overflow-x: auto;">
        <span class="repeater" ng-repeat="position in positions.list" >
            <span>
               <ng-include src="'position.html'"></ng-include>
            </span>
        </span>
    </td>
</tr>
    <tr>
        <td>&nbsp;<br></td>
    </tr>
<tr align="top">
    <td style="vertical-align:top;">
        <table width="100%">
            <tr>
                <td style="padding-top: 4px;font-size: 1.3em;"> <b>Market</b></td>
            </tr>
            <tr>
                <td colspan="2">
                    <div collapse="isMarketCollapsed">
                        <rl-table
                            table="Market"
                            height="400px"
                            rl-exclude="lastMatch,version"
                            links="ask,bid,askQty,bidQty"
                            action-width="40px"
                            action="<span ng-click=&quot;cellClicked('Market', 'buyAction', row.entity, $event)&quot;><img class='rlImgGrey' src='img/appbar.add.png' width='16px'></span><span ng-click=&quot;cellClicked('Market', 'sellAction', row.entity, $event)&quot;><img class='rlImgGrey' width='16px' src='img/appbar.minus.png'></span>"
                        >
                        </rl-table>
                    </div>
                </td>
            </tr>
        </table>
        <br>
        <table width="100%">
            <tr>
                <td style="padding-top: 4px;font-size: 1.3em;"> <b>Orders</b></td>
            </tr>
            <tr>
                <td colspan="2" width="100%">
                    <div collapse="isOrderCollapsed">
                        <rl-table
                            table="Order"
                            rl-query="it.traderKey=='{{user.recordKey}}'"
                            height="200px"
                            rl-exclude="version,recordKey"
                            action="<button type='button' class='close' ng-click='deleteOrder(row.entity)'><span aria-hidden='true'>&times;</span></button>">
                        </rl-table>
                    </div>
                </td>
            </tr>
        </table>
        <br>
        <table width="100%">
            <tr>
                <td style="padding-top: 4px;font-size: 1.3em;"> <b>Trades</b></td>
            </tr>
            <tr>
                <td colspan="2" width="100%">
                    <div collapse="isOrderCollapsed">
                        <rl-table
                                table="Trade"
                                rl-query="it.sellTraderKey=='{{user.recordKey}}' || it.buyTraderKey=='{{user.recordKey}}'"
                                height="300px"
                                rl-exclude="version,recordKey"
                        >
                        </rl-table>
                    </div>
                </td>
            </tr>
        </table>

    </td>

</tr>

</table>
<br>
<br>
<br>


