<table width="100%" class="rllightbg">
    <tr>
        <td style="background-color: #000000; color: #ffffff;" width="100%"><b>Market</b></td>
        <td align="right" style="background-color: #000000; color: #ffffff;" >
            <button ng-click="isMarketCollapsed = !isMarketCollapsed" style="background-color: #000; border: none;">
                <div class="arrow-down" style="background-color: #000;"></div>
            </button>
        </td>
    </tr>
    <tr>
        <td colspan="2" width="100%">
            <div collapse="isMarketCollapsed">
                <rl-table table="Market" height="400px" rl-exclude="lastMatch,version"></rl-table>
            </div>
        </td>
    </tr>
</table>
<br>
<table width="100%" class="rllightbg">
    <tr>
        <td style="background-color: #000000; color: #ffffff;" width="100%"><b>Order Entry</b></td>
        <td align="right" style="background-color: #000000; color: #ffffff;" >
            <button ng-click="isOECollapsed = !isOECollapsed" style="background-color: #000;  border: none;">
                <div class="arrow-down" style="background-color: #000;"></div>
            </button>
        </td>
    </tr>
    <tr>
        <td colspan="2" width="100%">
            <div collapse="isOECollapsed">
                <div ng-controller="OrderEntry">
                    <form class="simple-form">
                        <table width="100%">
                            <tr>
                                <td colspan="3">
                                    <input style="width: 30%;" type="text" ng-model="order.instrumentKey" class="form-control" placeholder="Instrument" required/>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 100px;">
                                    <input type="number" ng-model="order.limitPrice" class="form-control" placeholder="Limit" step="any" required/>
                                </td>
                                <td style="width: 100px;">
                                    <input type="number" ng-model="order.qty" class="form-control" placeholder="Quantity" required/>
                                </td>
                                <td>
                                    <input type="text" ng-model="order.text" class="form-control" placeholder="Text"/>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" align="right">
                                    <table>
                                        <tr>
                                            <td style="padding-right: 6px; ">
                                                <submit style="min-width: 80px;" class="btn btn-primary pull-right" ng-click="doOrder(true)">Buy</submit>
                                            </td>
                                            <td>
                                                <submit style="min-width: 80px;" class="btn btn-danger pull-right" ng-click="doOrder(false)">Sell</submit>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </td>
    </tr>
</table>
<br>
<table width="100%" class="rllightbg">
    <tr>
        <td style="background-color: #000000; color: #ffffff;" width="100%"><b>Orders</b></td>
        <td align="right" style="background-color: #000000; color: #ffffff;" >
            <button ng-click="isOrderCollapsed = !isOrderCollapsed" style="background-color: #000; border: none;">
                <div class="arrow-down" style="background-color: #000;"></div>
            </button>
        </td>
    </tr>
    <tr>
        <td colspan="2" width="100%">
            <div collapse="isOrderCollapsed">
                <rl-table table="Order" rl-query="it.traderKey=='{{user.recordKey}}'" height="200px" rl-exclude="version"></rl-table>
            </div>
        </td>
    </tr>
</table>

