<table width="100%">
<tr align="top">
    <td style="vertical-align:top;">
        <table class="rllightbg" width="100%">
            <tr>
                <td style="padding-top: 4px;"> <b>&nbsp;Market</b></td>
                <td align="right">
                    <div ng-click="isMarketCollapsed = !isMarketCollapsed">
                        <img src="img/appbar.chevron.down.png" style="width:20px; height: 20px;">
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div collapse="isMarketCollapsed">
                        <rl-table table="Market" height="400px" rl-exclude="lastMatch,version" links="ask,bid,askQty,bidQty"></rl-table>
                    </div>
                </td>
            </tr>
        </table>
        <br>
        <!--<ng-include src="'orderentry.html'"></ng-include>-->
        <!--<br>-->
        <table width="100%" class="rllightbg">
            <tr>
                <td style="padding-top: 4px;"> <b>&nbsp;Orders</b></td>
                <td align="right" >
                    <div ng-click="isOrderCollapsed = !isOrderCollapsed">
                        <img src="img/appbar.chevron.down.png" style="width:20px; height: 20px;">
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2" width="100%">
                    <div collapse="isOrderCollapsed">
                        <rl-table table="Order" rl-query="it.traderKey=='{{user.recordKey}}'" height="200px" rl-exclude="version"></rl-table>
                    </div>
                </td>
            </tr>
        </table>

    </td>

    <td style="vertical-align:top; padding: 0px; padding-left: 8px;">
        <div>
            <div style="overflow-y:auto; min-width: 150px; max-height: 600px; padding: 0px;">
                <div ng-repeat="position in positions.list" >
                    <div style="padding-right: 12px; padding-bottom: 4px;"></div>
                    <ng-include src="'position.html'"></ng-include>
                </div>
            </div>
        </div>
    </td>

    <td width="40px">&nbsp;</td>

</tr>

</table>



