<div class="navbar navbar-inverse navbar-fixed-top">

    <div class="collapse navbar-collapse" ng-controller="NavCtrl">

        <ul class="nav navbar-nav" style="font-size: 1.3em; font-weight: bold;">

            <li ng-class="navClass('market')"><a href='' ng-click="load('market')">Market</a></li>
            <li ng-class="navClass('charts')"><a href='' ng-click="load('charts')">Charts</a></li>
            <li ng-class="navClass('admin')"><a href='' ng-click="load('admin')">Admin</a></li>
            <li ng-class="navClass('admin')"><a href='' ng-click="load('tables')">Tables</a></li>

        </ul>

        <ul class="nav nav-pills pull-right">
            <li>
                <div style="padding-top: 16px; padding-right: 24px; color: #fff;">
                    <b>{{user.recordKey}}</b>,
                    <rl-record table="Asset" record-key="{{user.recordKey}}#cash">
                        avail.:  <span rl-hi color="#fff"><b>{{(record.qty-record.margined)/100|number:2}}€</b></span>
                        blocked: <span rl-hi color="#fff">{{record.margined/100|number:2}}€</span>
                        total:   <span rl-hi color="#fff">{{record.qty/100|number:2}}€</span>
                    </rl-record>
                </div>
            </li>
        </ul>


    </div>

</div>