<table width="400px">
    <tr>
        <td colspan="2" width="100%">
            <div>
                <div ng-controller="OrderEntry">
                    <form class="simple-form">
                        <table width="100%">
                            <tr>
                                <td colspan="3">
                                    <b style="font-size: 16px;">Place <span style="padding: 6px; border-radius: 2px; color: #fff; background-color: #117;">Buy</span> order on <span style="padding: 6px; border-radius: 2px; background-color: #eee;">Germany</span><br>&nbsp;</b>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 100px;">
                                    <input type="number" ng-model="order.limitPrice" class="form-control" placeholder="Limit" step="any" required autofocus/>
                                </td>
                                <td style="width: 100px;">
                                    <input type="number" ng-model="order.qty" class="form-control" placeholder="Quantity" required/>
                                </td>
                                <td>
                                    <input type="text" ng-model="order.text" class="form-control" placeholder="Text"/>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" align="right">
                                    <submit style="min-width: 80px;" class="btn btn-success pull-right" ng-click="doOrder(false)">Submit</submit>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </td>
    </tr>
</table>
