<!--<table class="rllightbg" style="border: solid black 1px; padding: 4px;" width="100%">-->
<table class="rllightbg" style="padding: 2px; min-width: 140px; display: inline-table; padding-bottom: 8px;">
    <tr style="border-bottom: solid black 1px; ">
        <td align="left" style="padding: 4px;">
            <span style="background-color: {{position.qty<0 ? '#711' : '#117'}}; width: 16px; height: 16px; float: left;">&nbsp;</span>&nbsp;&nbsp;<b>{{position.instrKey}}</b>
        </td>
        <td align="right">
            <span ng-if="position.qty<0">
                <span ng-click="cellClicked('Position', 'positionQty', position, $event)"><img class='rlImgGrey' src='img/appbar.add.png' width='16px'></span>
            </span>
            <span ng-if="position.qty>0">
                <span ng-click="cellClicked('Position', 'positionQty', position, $event)"><img class='rlImgGrey' src='img/appbar.minus.png' width='16px'></span>
            </span>
        </td>
    </tr>
    <tr>
        <td style="padding: 2px; padding-top: 8px;" align="right">Qty:</td>
        <td style="padding: 2px; padding-top: 8px;" align="right">
            <span  ng-click="cellClicked('Position', 'positionQty', position, $event)">
                <div rl-hi><span class='rlhover'>{{position.qty}}</span></div>
            </span>
        </td>
    </tr>
    <tr>
        <td style="padding: 2px;" align="right">AvgPrice:&nbsp;</td>
        <td style="padding: 2px;" align="right"><div rl-hi>{{position.avgPrice/100|number:2}}</div></td>
    </tr>
    <tr>
        <td style="padding: 2px;" align="right">Sum:</td>
        <td style="padding: 2px;" align="right"><div rl-hi>{{position.sumPrice/100|number:2}}</div></td>
    </tr>
</table>
