<div ng-controller="Tables">
<form ng-submit="doQuery()">
    <table style="width: 100%;" cellpadding="4px">
        <tr>
            <td>
            </td>
        </tr>
        <tr>
            <td colspan="1">
                <input ng-model="tableField" type="text" class="form-control" placeholder="Table">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input ng-model="queryField" type="text" class="form-control" placeholder="Query">
            </td>
        </tr>
        <tr>
            <td>
            </td>
        </tr>
        <tr>
            <td align="left" valign="center">
                <div rl-hi>{{msg}}</div>
            </td>
            <td align="RIGHT">
                <button type="submit" style="width: 80px;" class="btn btn-primary btn-default" id="login" ng-click="doQuery($event)">Query</button>
            </td>
        </tr>
        <tr>
            <td>
            </td>
        </tr>
    </table>
    <br>
    <rl-table table="{{table}}" height="600px" rl-query="{{query}}" nowatch="true"></rl-table>
</form>
</div>